* {
    font-family: 'Montserrat';
}

.ucHeader  {
    font-weight: 700;
    color: gray;
    white-space: nowrap;
    margin-top: 7rem;
    margin-left: 3rem;
}

.qcHeader  {
    font-weight: 700;
    color: gray;
    white-space: nowrap;
    margin-left: 3rem;
}

.quizData {
    white-space: pre-wrap;
}